:root {
    --main-color: #8b4931;
    --black: #13131a;
    --white: #eeeeee;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

.logo-img {
    width: 100px;
    height: 100px;
}

body {
    background-color: var(--bg);
}

section {
    padding: 2rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--bg);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1xrem;
    padding-bottom: 1rem;
}

.navbar a {
    margin: 0 1rem;
    color: #eeeeee;
    font-size: 1.8rem;
}

.navbar a:hover {
    color: #e89b7e;
    padding-bottom: 0.5rem;
    opacity: 0.5;
}

.icons img {
    margin: 10px 10px 10px 10px;
    cursor: pointer;
}

.icons img:hover {
    width: 35px;
    height: 35px;
}

.main-container {
    background-image: url('./assets/home-img.jpg');
    background-position: center;
    background-size: cover;
}

.main-container section {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.content {
    max-width: 60rem;
}

.content h3 {
    color: var(--white);
    font-size: 40px;
    margin-bottom: 10px;
}

.content p {
    color: var(--white);
    font-size: 20px;
    font-weight: 100;
    padding: 1rem 0;
    line-height: 35px;
    margin-bottom: 10px;
}

.btn {
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 4px;
    cursor: pointer;
    padding: 1rem 3rem;
    cursor: pointer;
    font-size: 1.8rem;
    margin-top: 1rem;
    display: inline-block;
}

.btn-add-cart {
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 4px;
    cursor: pointer;
    padding: 1rem 3rem;
    cursor: pointer;
    font-size: 1.8rem;
    margin-top: 1rem;
    display: inline-block;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 0.5;
}

.title {
    font-size: 4rem;
    color: var(--white);
    text-align: center;
    margin-bottom: 1rem;
}

.coffee-icon {
    display: none;
}

.title span {
    color: var(--main-color);
}

.content span {
    color: var(--main-color);
    font-weight: bold;
}

.about .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 15px;
}

.about .row .content h3 {
    font-size: 30px;
    color: var(--white);
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.about .row .content p {
    font-size: 16px;
    color: var(--white);
    line-height: 26px;
    font-weight: 400;
    padding: 0.5px;
    margin-left: 3px;
    margin-right: 15px;
    text-align: justify;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 80px));
    gap: 1.5rem;
    justify-content: center;
}

.menu .box-container .box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.menu .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
    cursor: pointer;
}

.menu .box-container .box h3 {
    font-size: 18px;
    color: var(--white);
    text-align: center;
    padding: 1rem;
    font-weight: 400;
}

.menu .box-container .box .price {
    font-size: 2.5rem;
    color: var(--white);
    text-align: center;
    padding: 0.5rem;
}

.menu .box-container .box .price span {
    text-decoration: line-through;
    font-size: 1.5rem;
    text-align: center;
    font-weight: lighter;
}

.menu .box-container .box:hover {
    background-color: white;
    opacity: 0.8;
    transition: 0.4s ease-in-out;
}

.menu .box-container .box:hover>* {
    color: var(--black);
}

.box-container .box p {
    color: #eeeeee;
    font-size: 15px;
    font-weight: 300;
}

.feedbacks .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
}

.feedbacks .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 1rem;
}

.feedbacks .box-container .box .content p {
    font-size: 16px;
    color: var(--white);
    line-height: 2.6rem;
    text-align: center;
}

.feedbacks .box-container .box .content h3 {
    font-size: 1.5rem;
    color: var(--white);
    line-height: 2.6rem;
}

.client-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.find-us-main-div {
    display: flex;
}

.find-us .info-map,
.info-opening {
    margin-left: 20px;
    background-color: rgba(68, 68, 68, 0.6);
    border: var(--border);
}

.find-us .info-opening {
    color: var(--white);
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.find-us .info-opening h1 {
    margin: 0;
    font-size: 25px;
    text-decoration: underline;
}

.info-opening p {
    font-size: 20px;
}

.info-opening .info-space {
    margin: 0;
    font-size: 20px;
    color: var(--white);
    margin: 0px 20px 0 20px;
}

.info-space a {
    font-size: 20px;
    color: var(--main-color);
    font-weight: 700;
}

.info-space a:hover {
    text-decoration: underline;
    font-size: 22px;
    animation: 0.6 ease-in-out;
    opacity: 0.8;
}

.find-us .info-map iframe {
    display: block;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 5px;
    color: var(--white);
    gap: 5px;
    margin-top: auto;
}

footer h1,
footer h2 {
    color: var(--white);
    font-size: 15px;
    font-weight: 400;
    padding: 3px;
}

footer i {
    font-size: 18px;
    padding: 0 0 5px 5px;
    transition: 0.5s;
}

footer a {
    font-style: bold;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
}

footer i:hover {
    transform: translateY(-3px);
}

footer a:active {
    opacity: .7;
}

/* Media Queries for Mobile Responsiveness */

@media (max-width: 1000px) {
    .header section {
        padding: 1rem;
    }

    header section .logo-img {
        width: 60px;
        height: 60px;
    }

    header section img {
        width: 20px;
        height: 20px;
    }

    .content-wrapper {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .main-container {
        display: flex;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .main-container section {
        min-height: 85vh;
        padding: 2rem 1rem;
        margin-bottom: -100px;
    }

    .content h3 {
        font-size: 30px;
        line-height: 50px;
    }

    .content p {
        color: var(--white);
        font-size: 15px;
        font-weight: 200;
        line-height: 25px;
        padding: 5px;
        margin-bottom: 1px;
    }

    .btn {
        border-radius: 4px;
        cursor: pointer;
        padding: 1rem 2rem;
        font-size: 1rem;
        margin: 15px 10px;
    }

    .title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .title-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .coffee-icon {
        width: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .container-imgaboutus img {
        display: none;
    }

    .about .row {
        display: flex;
        flex-direction: column;
        margin: 15px 10px;
        gap: 0;
        padding: 10px;
    }

    .about .row .content p {
        font-size: 15px;
        font-weight: 200;
        line-height: 25px;
        margin: 0 0 0 0;
    }

    .about .row .content h3 {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 0;
    }

    .menu {
        padding: 10px;
    }

    .menu .box-container {
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: center;
    }

    .menu .box-container .box img {
        max-width: 100%;
        height: auto;
    }

    .menu .box-container .box {
        padding: 10px;
        position: relative;
        height: 300px;
    }

    .menu .box-container .box h3 {
        font-size: 15px;
        font-weight: 700;
        padding: 5px;
    }

    .menu .box-container .box p {
        font-size: 12spx;
        padding: 10px;
        font-weight: 100;
        flex-grow: 1;
    }

    .menu .box-container .box .price {
        font-size: 20px;
        padding: 5px;
        position: absolute;
        bottom: 40px;
        left: 125px;
    }

    .btn-add-cart {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px;
        font-size: clamp(1rem, 2vw, 1.5rem);
        margin-top: 10px;
    }

    .feedbacks .box-container .box {
        text-align: center;
        border: var(--border);
        padding: 1rem;
    }

    .feedbacks .box-container .box .content p {
        font-size: 14px;
        line-height: 20px;
    }

    .feedbacks .box-container .box .content h3 {
        font-size: 14x;
        padding: 3px;
        margin-bottom: 0;
    }

    .client-img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .quotation-marks {
        width: 20px;
        height: 20px;
    }

    .stars img {
        width: 15px;
        height: 15px;
    }

    .find-us-main-div {
        display: flex;
        flex-direction: column;
    }

    .find-us .info-map,
    .info-opening {
        height: auto;
    }

    .find-us .info-opening {
        line-height: 40px;
        text-align: center;
        display: flex;
    }

    .find-us .info-opening h1 {
        margin: 0;
        font-size: 15px;
        text-decoration: underline;
    }

    .info-opening p {
        font-size: 15px;
        line-height: 25px;
    }

    .info-opening .info-space {
        font-size: 13px;
        font-weight: 700;
        text-align: center;
        padding: 0;
        margin-top: 20px;
    }

    .info-space a {
        font-size: 15px;
    }

    .info-space a:hover {
        font-size: 17px;
    }

    .find-us .info-map iframe {
        display: block;
        width: 100%;
        height: 100%;
    }

    .feedbacks {
        display: none;
    }
}

@media (max-width: 850px) {
    .menu .box-container .box .price {
        left: 80px;
    }
}

@media (max-width: 480px) {
    .header section {
        padding: 1rem;
    }

    .header .navbar {
        display: none;
    }

    header section .logo-img {
        width: 50px;
        height: 50px;
    }

    header section img {
        width: 20px;
        height: 20px;
    }

    .content-wrapper {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .main-container {
        display: flex;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .main-container section {
        min-height: 85vh;
        padding: 2rem 1rem;
        margin-bottom: -100px;
    }

    .content h3 {
        font-size: 30px;
        line-height: 50px;
    }

    .content p {
        color: var(--white);
        font-size: 15px;
        font-weight: 200;
        line-height: 25px;
        padding: 5px;
        margin-bottom: 1px;
    }

    .btn {
        border-radius: 4px;
        cursor: pointer;
        padding: 1rem 2rem;
        font-size: 1rem;
        margin: 15px 10px;
    }

    .title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .title-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .coffee-icon {
        width: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .container-imgaboutus img {
        display: none;
    }

    .about .row {
        display: flex;
        flex-direction: column;
        margin: 15px 10px;
        gap: 0;
        padding: 10px;
    }

    .about .row .content p {
        font-size: 15px;
        font-weight: 200;
        line-height: 25px;
        margin: 0 0 0 0;
    }

    .about .row .content h3 {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 0;
    }

    .menu {
        padding: 10px;
    }

    .menu .box-container {
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: center;
    }

    .menu .box-container .box img {
        max-width: 100%;
        height: auto;
    }

    .menu .box-container .box {
        padding: 10px;
        position: relative;
        height: 300px;
    }

    .menu .box-container .box h3 {
        font-size: 15px;
        font-weight: 700;
        padding: 5px;
    }

    .menu .box-container .box p {
        font-size: 12spx;
        padding: 10px;
        font-weight: 100;
        flex-grow: 1;
    }

    .menu .box-container .box .price {
        font-size: 20px;
        padding: 5px;
        position: absolute;
        bottom: 40px;
        left: 25px;
    }

    .btn-add-cart {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px;
        font-size: clamp(1rem, 2vw, 1.5rem);
        margin-top: 10px;
    }

    /* 
      .feedbacks .box-container .box {
        text-align: center;
        border: var(--border);
        padding: 1rem;
    }

    .feedbacks .box-container .box .content p {
        font-size: 14px;
        line-height: 20px;
    }

    .feedbacks .box-container .box .content h3 {
        font-size: 14x;
        padding: 3px;
        margin-bottom: 0;
    }

    .client-img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .quotation-marks {
        width: 20px;
        height: 20px;
    }

    .stars img {
        width:15px;
        height: 15px;
    } */


    .find-us-main-div {
        display: flex;
        flex-direction: column;
    }

    .find-us .info-map,
    .info-opening {
        height: auto;
    }

    .find-us .info-opening {
        line-height: 40px;
        text-align: center;
        display: flex;
    }

    .find-us .info-opening h1 {
        margin: 0;
        font-size: 15px;
        text-decoration: underline;
    }

    .info-opening p {
        font-size: 15px;
        line-height: 25px;
    }

    .info-opening .info-space {
        font-size: 13px;
        font-weight: 700;
        text-align: center;
        padding: 0;
        margin-top: 20px;
    }

    .info-space a {
        font-size: 15px;
    }

    .info-space a:hover {
        font-size: 17px;
    }

    .find-us .info-map iframe {
        display: block;
        width: 100%;
        height: 100%;
    }

    .feedbacks {
        display: none;
    }
}